name: Build

on: [ workflow_call, workflow_dispatch ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      - name: "Setup dotnet"
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 6.0.x

      - name: "Build"
        run: dotnet build -c Release

      - name: "Test"
        run: dotnet test -c Release --no-build --collect:"XPlat Code Coverage"

      - name: "Publish"
        run: dotnet publish -c Release --no-build -o dist/Assemblies

      - name: "Upload Assemblies"
        uses: actions/upload-artifact@v3
        with:
          name: ${{ github.event.repository.name }} Assemblies
          path: dist/Assemblies

      - name: "Pack"
        run: dotnet pack -c Release --no-build -o dist/NuGet

      - name: "Upload Packages"
        uses: actions/upload-artifact@v3
        with:
          name: ${{ github.event.repository.name }} NuGet Packages
          path: dist/NuGet

      - name: "Generate Coverage Report"
        run: |
          dotnet tool install -g dotnet-reportgenerator-globaltool
          reportgenerator -reports:"src/**/tests/TestResults/**/coverage.cobertura.xml" -targetdir:"coveragereport" -reporttypes:"Html;Badges"

      - name: "Upload Coverage Report"
        uses: actions/upload-artifact@v3
        with:
          name: ${{ github.event.repository.name }} Coverage Report
          path: coveragereport

      - name: "Upload to Codecov"
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: unittests
          fail_ci_if_error: false
          verbose: true
