name: Build

on:
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      - name: "Setup dotnet"
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 6.0.x

      - name: "Build"
        run: dotnet publish -c Release -o dist/bin/Release

      - name: "Test"
        run: dotnet test -c Release --no-build

      - name: "Upload artifacts"
        uses: actions/upload-artifact@v3
        with:
          name: Assemblies
          path: dist/bin/Release
