name: CD

on:
  push:
    branches: [ main ]

jobs:
  ci:
    uses: sschmid/DotnetGitHubActions/.github/workflows/ci.yml@main

  cd:
    needs: ci
    runs-on: ubuntu-latest
    steps:
      - run: ls dist
