name: CD

on:
  push:
    branches: [ main ]

jobs:
  ci:
    uses: sschmid/DotnetGitHubActions/.github/workflows/ci.yml@main
  cd:
    needs: ci
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: nuget
          path: path/to/artifact
      - run: ls .
      - run: ls dist
