name: CI

on:
  pull_request:
    branches: [ main ]
  workflow_call:

jobs:
  pack:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'recursive'
      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 6.0.x
      - run: dotnet restore
      - run: dotnet build -c Release --no-restore
      - run: dotnet test -c Release --no-build
      - run: dotnet pack -c Release -o dist
      - uses: actions/upload-artifact@v3
        with:
          name: nuget
          path: dist/*.nupkg
