name: Release

on:
  push:
    branches: [ main ]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      - name: "Setup dotnet"
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 6.0.x

      - name: "Build"
        run: dotnet build -c Release

      - name: "Test"
        run: dotnet test -c Release --no-build

      - name: "Pack"
        run: dotnet pack -c Release --no-build -o dist

      - name: "Publish"
        run: dotnet publish -c Release --no-build -o dist

      - name: "Push to NuGet"
        run: |
          dotnet nuget add source --username sschmid --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text --name github "https://nuget.pkg.github.com/sschmid/index.json"
          dotnet nuget push "dist/*.nupkg" --api-key ${{ secrets.GITHUB_TOKEN }} --source github

      - name: "Upload Artifact"
        uses: actions/upload-artifact@v3
        with:
          name: Artifacts
          path: dist
