name: Release

on:
  push:
    branches: [ main ]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      - name: "Setup dotnet"
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 6.0.x

      - name: "Build"
        run: dotnet build -c Release

      - name: "Test"
        run: dotnet test -c Release --no-build

      - name: "Pack"
        run: dotnet pack -c Release --no-build -o dist

      - name: "Publish"
        run: dotnet publish -c Release --no-build -o dist/bin/Release

      - name: "Push to NuGet"
        run: dotnet nuget push "dist/*.nupkg" --api-key "${GITHUB_TOKEN}" --skip-duplicate --source https://nuget.pkg.github.com/sschmid/index.json
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: "Upload Assemblies"
        uses: actions/upload-artifact@v3
        with:
          name: Assemblies
          path: dist/bin/Release

      - name: "Upload NuGet Packages"
        uses: actions/upload-artifact@v3
        with:
          name: NuGet Packages
          path: dist/*.nupkg
