name: Build

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: |
        echo "deb https://hub.unity3d.com/linux/repos/deb stable main" > /etc/apt/sources.list.d/unityhub.list
        wget -qO - https://hub.unity3d.com/linux/keys/public | apt-key add -
        apt-get update && apt-get install -y --no-install-recommends \
          unityhub \
          && rm -rf /var/lib/apt/lists/*        
